{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Your Portfolio</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in database %}
                <tr>
                    <td>{{ item['symbol'] }}</td>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['shares'] }}</td>
                    <td>{% if item['price'] is not none %}{{ item['price'] | usd }}{% endif %}</td>
                    <td>{% if item['total'] is not none %}{{ item['total'] | usd }}{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <h3>Cash: {% if cash is not none %}{{ usd(cash) }}{% endif %}</h3>
        </div>
    </div>
{% endblock %}

