{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Your Portfolio</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in database %}
                <tr>
                    <td>{{ item.symbol }}</td>
                    <td>{{ item.shares }}</td>
                    <td>{{ usd(item.price) }}</td>
                    <td>{{ usd(item.shares * item.price) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <h3>Cash: {{ usd(cash) }}</h3>
        </div>
    </div>
{% endblock %}
