{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Find a stock quote</h1>
    <form action="{{ url_for('quote') }}" method="post">
        <label for="symbol">Symbol:</label>
        <input type="text" name="symbol" id="symbol" placeholder="Symbol">
        <button type="submit">Submit</button>
    </form>
    {% if quote %}
        <h2>{{ quote['name'] }} ({{ quote['symbol'] }})</h2>
        <p>Price: {{ quote['price']|usd }}</p>
    {% endif %}
{% endblock %}
